/***********RESPONSIVE***************/
$breakpoint-920px: 920px;

/**********RULES*********************/

@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

@mixin display-flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin absolute-position {
    position:absolute;
}

@mixin relative-position {
    position:relative;
}

@mixin justify-between {
    justify-content:space-between;
}

@mixin align-center {
    align-items:center;
}

/**********************************/

.form__label-input,
.form-button-container {
    @include display-flex-and-row;
}

.form-button-container {
    justify-content: center;
}

.features,
.input-wrapper,
.account,
.form,
.form-container {
    @include display-flex-and-column;
}

.main-nav,
.main-nav-logo,
.input-remember,
.footer {
    display:flex;
}

.sr-only {
    @include absolute-position;
}

.form__label-input {
    align-items: center;
}

.hero,
.hero-content {
    @include relative-position;
}

.main-nav,
.footer,
.account {
    @include justify-between;
}

.main-nav,
.main-nav-logo,
.account,
.form-container {
    @include align-center;
}

.main-user {
    display:block;
}

.main,
.main-user,
.feature-item,
.account-content-wrapper {
    flex: 1;
  }

  .main {
    display:flex;
  }

.sign-in-button {
    display: block;
  }

.sign-in-content {
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }

  .account {
    box-sizing: border-box;
    text-align: left;
  }

  .transaction-button {
    display: block;
  }

  .footer {
    justify-content: center;
  }

@media (min-width: $breakpoint-920px) {
    .hero-content {
        @include absolute-position;
    }
    .features,
    .account {
        flex-direction: row;
    }
    .account-content-wrapper.cta {
        flex: 0;
    }
}